<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuO18h-NTuAmbmTWTsw3jjDcacqJdPHHA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066508905268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.MannKareApp</string>
	<key>PROJECT_ID</key>
	<string>mannkareapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mannkareapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066508905268:ios:0829fd11667c60c3a39361</string>
</dict>
</plist>